apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
      - name: rabbitmq
        image: rabbitmq:4.0-alpine
        imagePullPolicy: Always
        env:
        - name: SEED_USER_PASSWORD
          value: "pass"
        - name: SEED_USERNAME
          value: "user"
        resources:
          limits:
            memory: "300Mi"
            cpu: "300m"
        volumeMounts:
          - name: rabbitmq-data
            mountPath: /var/lib/rabbitmq
            subPath: rabbitmq
        ports:
        - containerPort: 5432
      volumes:
        - name: rabbitmq-data
          persistentVolumeClaim:
            claimName: rabbitmq-pvc