apiVersion: apps/v1
kind: Deployment
metadata:
  name: short-api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: short-api
        image: antonlarichev/short-api:v1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        env:
         - name: DATABASE_URL
           valueFrom:
            secretKeyRef:
              name: short-api-secret
              key: DATABASE_URL
        resources:
          limits:
            memory: "500Mi"
            cpu: "200m"